node_modules
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
miniprogram/project.config.json
miniprogram/project.private.config.json
safe-xcx/
node
xcx-safe-system@1.0.0
